@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

*{
    box-sizing: border-box;
}

body {
    font-family: "Hind";
    color: #676767;
    cursor: default;
}

.wrap {
  max-width: 20em;
  margin: 3em 1em;
  display: inline-block;
  min-width: 28%;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    transition: all 0.35s ease;
    border-radius: 20px;
}

.card:hover {
    border-color: #ddd;
    box-shadow: rgba(10, 145, 145, 0.1) 0 0 5em;
}

.card:hover figure {
    transform: scale(0.6) translateY(-1.4em);
}

.card:hover .card--title {
    transform: translateY(-5em);
}

.card:hover .card--desc {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition-duration: 0.4s;
}

.card:hover .card--desc p {
    opacity: 1;
}

.card:hover .card--desc hr {
    transition-delay: 0.1s;
    transform: scale(1, 1);
}

.card:hover .card--social li {
    opacity: 1;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    transform: translate(0, 0) rotate(0deg);
}

.card:hover .card--btn a {
    background: #fbfbfb;
    border-color: #ddd;
}

.card:hover .card--btn .moreInfo {
    opacity: 0;
    transform: translateY(-50px);
}

.card:hover .card--btn .fullProf {
    opacity: 1;
    transform: translateY(0);
}

.card figure {
    position: relative;
    z-index: 1;
    width: 10em;
    height: 10em;
    margin: 0 auto 1em;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #eee;
    padding: 4px;
    transform-origin: center top;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.card figure img {
    margin-bottom: -20%;
    max-width: 50%;
    height: 80%;
}

.card-liner {
    position: relative;
    overflow: hidden;
    padding: 2em;
}

.card--title {
    text-align: center;
    line-height: 1;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card--title h3 {
    margin: 0 0 0.4em;
    font-size: 1.4em;
}

.card--title p {
    margin: 0 0 5em;
    color: #a5a5a5;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 2.2px;
}

.card--desc {
    position: absolute;
    top: 53.5%;
    left: 9%;
    width: 82%;
    text-align: center;
    padding-bottom: 0.8em;
    visibility: hidden;
    opacity: 0;
    transform: translateY(3em);
    transition: all 0.02s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card--desc p {
    margin: 0 0 0.5em;
    font-weight: 300;
    opacity: 0;
    transition: all 0.55s ease 0.1s;
}


.card--desc hr {
    border: none;
    width: 3em;
    margin: 0 auto 0.75em;
    height: 3px;
    background: #ff6868;
    transform: scale(0, 1);
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.05s;
}

.card--btn {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.card--btn a {
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8em;
    color: #a5a5a5;
    padding: 1.4em 2em;
    border-top: 1px solid #eee;
    letter-spacing: 0.5px;
    transition: all 0.4s ease;
}

.card--btn a .fullProf {
    display: block;
    opacity: 0;
    color: #1a1a1a;
    transform: translateY(50px);
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card--btn a .moreInfo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.4em;
    opacity: 1;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card--btn a .moreInfo i {
    margin-right: 5px;
}

.card--social {
    position: absolute;
    top: 3em;
    left: 0;
    width: 100%;
}

.card--social ul {
    list-style: none;
    margin: 0;
    padding: 2em;
    position: relative;
}

.card--social li {
    display: block;
    text-align: center;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all 0.02s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card--social li.instagram {
    left: 72%;
    transform: translate(-200%, 1em) scale(0.7);
}

.card--social li.codepen {
    right: 72%;
    transform: translate(200%, 1em) scale(0.7);
}

.card--social a {
    line-height: 2.4;
    display: block;
    width: 2.3em;
    height: 2.3em;
    border-radius: 50%;
    border: 1px solid #ccc;
    background: #fbfbfb;
    color: #383838;
    text-decoration: none;
    transition: all 0.4s;
}

.card--social a.insta:hover {
    color: #fff;
    background-color: #04aa36 !important;
}

.codepen a:hover {
    background-color: #2d89df !important;
    color: #fff !important;
}

.cred {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: #fff;
    border-top: 1px solid #eee;
    text-decoration: none;
}

.cred a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: #ccc;
    font-weight: 300;
    font-size: 0.9em;
    letter-spacing: 0.5px;
}

.cred a i {
    margin-left: 10px;
}

.deleteBtn {
    background-color: #dc3545;
    border-color: #dc3545;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 45%;
}

.editBtn{
    background-color: #0b5ed7;
    border-color: #0a58ca;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 45%;
}

.addBtn{
  background-color: #157347;
  border-color: #146c43;
  width: 100%;
}

@media only screen and (max-width: 990px) {
    /* .btn {
      width: 100%;
    } */

    .card {
        border-color: #ddd;
        box-shadow: rgba(10, 145, 145, 0.1) 0 0 5em;
    }
    
    .card .card--social{
        font-size: 1.5em;
        top: 3em;
    }
    
    .card .card--title {
        transform: translateY(1em);
    }
    
    .card .card--desc {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        transition-duration: 0.4s;
        font-size: 1.35em;
    }
    
    .card .card--desc p {
        opacity: 1;
    }
    
    .card .card--desc hr {
        transition-delay: 0.1s;
        transform: scale(1, 1);
    }
    
    .card .card--social li {
        opacity: 1;
        transition-duration: 0.3s;
        transition-delay: 0.1s;
        transform: translate(0, 0) rotate(0deg);
    }
    
    .card .card--btn a {
        background: #fbfbfb;
        border-color: #ddd;
    }
    
    .card .card--btn .moreInfo {
        opacity: 0;
        transform: translateY(-50px);
    }
    
    .card .card--btn .fullProf {
        opacity: 1;
        transform: translateY(0);
    }

    .card--social a.insta {
        color: #fff;
        background-color: #04aa36 !important;
    }
    
    .codepen a {
        background-color: #2d89df !important;
        color: #fff !important;
    }

    .wrap {
        min-width: 90%;
   }
  }