#help table {
    border: 1px solid #eee;
    border-collapse: collapse;
    padding: 0;
}
#help table.admin {
    border: 1px solid #98353567;
}
#help table td {
    margin: 0;
    padding: 0;
}
#help table td > div {
    padding: 10px 0;
    border-radius: 0;
    margin: 0;
}

#help img, #help video {
    max-width: 80%;
    max-height: 65vh;
}

@media screen and (max-width: 1280px){
    #help .media{
        margin-left: auto !important;
        margin-right: auto !important;
    }
    #help img, #help video  {
        max-width: 85%;
        max-height: 80vh;
    }
}
@media screen and (max-width: 990px){
    #help img, #help video  {
        max-width: 95%;
        max-height: 80vh;
    }
}

