.dashboard td, .container td  {
    text-align: left;
}


.css-1oobkil-getRowContainerStyle-Row:nth-of-type(odd)>td {
    background-color: #e1e1f533;
}
.css-1oobkil-getRowContainerStyle-Row:hover>td {
    background-color: #d1d1f599;
}

.css-1oobkil-getRowContainerStyle-Row.tr.tr-body.row-select.row-select-single-selected>td{
    background-color: #bbbbddcc;
    border-bottom: 1px solid #bbbbdd;
}
    